*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open sans, Helvetica, sans-serif;
}

.home {
  min-height: 100vh;
  background: lightsteelblue;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1 {
  font-size: clamp(35px, 3vw, 75px);
  text-align: center;
  padding-bottom: 50px;

}

.rocket-section {
  min-height: 2500px;
  background: #333;
  color: #f1f1f1;
  padding-top: 100px;
}


.bloc {
  display: flex;
  /* overflow: hidden; */
  margin: 0 auto;
  width: auto;
  min-width: 300px;
  max-width: 800px;
  padding-bottom: 100px;
}
.bloc2 {
  transform: translateY(-105px);
}
.bloc3 {
  transform: translateY(-206px);
}
.bloc4 {
  transform: translateY(-848px);
}

.bloc img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150px;

}

.bloc h2,
.bloc p {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 50%;
}

.bloc p {
    font-size: 18px;
}

.bloc h2 {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    text-align: right;
    font-size: 30px;
}
.bloc4 h2 {
    padding-right: 10px;
}

.bloc4 p {
    padding-left: 10px;
}

.bloc.active h2,
.bloc.active p {
  opacity: 1;
}

.bottom {
  min-height: 600px;
  background: lightsteelblue;
}


@media screen and (max-width: 600px){

  
.bloc p {
  font-size: 12px;
}

.bloc h2 {
  font-size: 13px;
}

}