*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.home-mountains {
    height: 100vh;
    background: #222;
    position: relative;
    background: url(ressources/background-moutain.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}
.home-mountains img{
    object-fit: cover;
    object-position: center;
    position: absolute;
}
h1 {
    font-family: Martel Sans;
    font-weight: 200;
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 1;
}
h1 span{
    font-size: 40px;
    font-family: Montserrat;
}
@media screen and (max-width: 950px){
    h1 {
        line-height: 1;
        text-align: center;
    }
}
.home-mountains img:nth-child(1){
    width: 2000px;
    /* height: 1000px; */
    top: 45%;
    left: 0;
    z-index: 2;
}
/* Content */

.content {
    text-align: left;
    padding: 50px 10px 20px;
    max-width: 800px;
    margin: 0 auto;
}
.content h2 {
    font-size: 50px;
    padding-bottom: 30px;
}
.content p {
    font-size: 20px;
}
